/* Setting up page colors */
body{
	background-color:#ffff99;
}

p{
	color:black;
}
/* hover boxes over the image */
#grapes{
    position: absolute;
    left: 168px;
    top: 150px;
    z-index: 1000;
    font-weight: bold;
    height: 153px;
    width: 1085px;
   }
   
#grapes:hover{
	 display: block; /* Hidden by default */
    position: absolute;
    left: 168px;
    top: 150px;
    z-index: 1000;
    border: 2px solid #660033;
    font-weight: bold;
    height: 153px;
    width: 75%;
   }

#winery{
    position: absolute;
    left: 599px;
    top: 325px;
    z-index: 1000;  
    font-weight: bold;
    height: 95px;
    width: 250px;
   }

#winery:hover{
    position: absolute;
    left: 599px;
    top: 325px;
    z-index: 1000;
     border: 1px solid #660033;
    font-weight: bold;
    height: 95px;
    width: 250px;
   }
/*****************************************/
/* Overriding the bootstrap */
.container{
	background-color:#003300;
}

.container-fluid{
	  background-color:#660033;
	 }
	 
.navbar-default .navbar-brand{
		color:#ffff99 !important;
}

.navbar-default .navbar-brand:hover{
		color:#003300;
}

.panel-default{
	background-color:#ffff99;
		border:none;
		color:black;
}

.panel-footer{
	background-color:#660033;
		border:none;
		color:#ffff99;
}

.navbar-default{
	border:none;
}

.spacer{
	height:50px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffff99;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    top:200px;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Grape Modal */



/* Modal Content */
.grapemodal-content {
    background-color: #ffff99;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    top:150px;
    width: 50%;
}

/* The Close Button */
.grapeclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.grapeclose:hover,
.grapeclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

li{
	list-style-type:none;
}

/* Dynamic page */

@media screen and (max-width: 1185px) {
   #winery{
    display:none;
   }
    #grapes{
    display:none;
   }
}

@media screen and (max-width: 1300px) {
   #winery{
    left:42% !important;
   }
    
}


/*****************************************************/
 /* Dropdown Button */
.dropbtn {
    background-color: #660033;
    color: #ffff99;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	color: #003300;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff99;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:53px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #003300;font-weight:bold;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
